body {
	height: 100vh;
	display: flex;

}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	background-color: lightgrey;
}

#timeWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}